.Site-container{
    text-align: center;
    max-width: 750px;
    margin: 30px auto;
    overflow: auto;
    min-height: 550px;
    border: 10px solid rgba(250, 213, 6, 0.315);
    padding: 30px;
    border-radius: 5px;
  }